<li id="comment-<%= comment.id %>">
    <span class="content"><h6><%= comment.content %></h6></span>
    <span class="timestamp">
        <%= comment.email %>
         Commented <%= time_ago_in_words(comment.created_at) %> ago.
        <% if current_user?(comment.post.user) %>
            <%= link_to "delete", comment, method: :delete,
                                        data: { confirm: "You sure?" } %>
        <% end %>
    </span>
</li>